<!DOCTYPE html>
<html>
<head>
    <title>Hello Vue</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <h1>Hello Vue</h1>
        <label for="name">Please enter your name: </label>
        <input v-model="name" id="name">

        <div v-if="name">
            <p>Your name is {{ name }}</p>
        </div>
        <div v-else>
            <p>Awaiting user input.</p> 
        </div>
    </div>

    <script>
        let app = Vue.createApp({
            data() {
                return {
                    name: ''
                }
            }
        })

        app.mount('#app')

    </script>

</body>
</html>


