<!DOCTYPE html>
<html>
<head>
    <title>Hello Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>Hello Vue</h1>
        <label for="name">Please enter your name: </label>
        <input v-model="name" id="name">
        <div v-if="name.length > 0">
            <p>Your name is {{ name }}</p>
            <button v-on:click="clear">Clear Input</button>
        </div>
        <div v-else>
            <p>Awaiting user input.</p> 
        </div>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
               name: ""
            },
            methods: {
                clear: function() {
                    this.name = ''
                }
            }
        })
    </script>

</body>
</html>

